.uploadButton {
  display: inline-block;
  position: relative;

  i {
    font-size: 18px;
    line-height: 18px;
    margin: 0 18px 0 0;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 12;
  }

  &:hover {
    cursor: pointer;
  }

  &:after {
    width: auto !important;
    left: -2px !important;
    right: -2px;
    top: -1px !important;
    bottom: -1px !important;
    height: auto !important;
  }
}

.text {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
