.dropdown {
  max-width: 342px;
  display: inline-block;
  font-size: 16px;

  background: $white;
  border: 1px solid $white;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.06);
  border-radius: 5px;

  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+);
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 98% 50%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

  &:focus {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(104,138,216,0.87), 0px 0px 4px 0px rgba(38,42,220,0.52), 0px 2px 21px 0px rgba(0,0,0,0.03), 0px 1px 4px 0px rgba(21,40,104,0.11);
    border-color: white;
  }
}

.greyLightest {
  background-color: #fbfbfc;
  border: 1px solid $grey;
}

.sm {
  height: 34px;
  padding: 0 10px;
}

.md {
  height: 52px;
  padding: 0 18px;
}

.lg {
  height: 52px;
  padding: 0 18px;
}

.vlg {
  height: 60px;
}
